# generated types
.astro/



# environment variables
.env
.env.production
.env.development

# macOS-specific files
.DS_Store

.idea/
/images-films/

# Environment Files
.env
.env.*
!.env.example


# IDE and Editor Files
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# PHP Files
/vendor/
*.log
.phpunit.result.cache
/phplib/
orderHandler.php
paymentHandler.php
config.*.php
config.php

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
/dist/
/build/
*.map

# Temporary files
*.swp
*.swo
*~

# search verificatins

public/yandex_b19b7bf4210ac98d.html
