---
import Shop from "@/components/Shop";
import Layout from "../layouts/Layout.astro";
import Footer from "../sections/Footer.astro";
import Header from "../sections/Header.astro";
import HeroSingle from "../sections/HeroSingle.astro";
import { getLandingData, getProductsData } from "../services/data.service";
const data = await getLandingData();
const products = await getProductsData();
---

<Layout meta={ data.meta }>
    <Header data={ data.headerData }/>
    <main class="flex flex-col justify-center items-center">
        <div class="w-11/12 md:w-3/4">
            <HeroSingle
                    title="Каталог AliasevPro"
                    subTitle="Выберите интересующие позиции и параметры, нажмите конопку отправить заявку. Мы свяжемся с вами для уточнения деталей и пришлем ссылку для оплаты заказа."
            />
        </div>
        <section class="w-11/12 md:w-3/4">
			<Shop client:load products={products}/>
        </section>
        <Footer data={ data.footerData }/>
    </main>
</Layout>