<div
        class="absolute border-b-2 border-primary top-0 z-[-2] h-full w-screen bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,136,230,0.2)_0,rgba(0,136,230,0)_50%,rgba(0,136,230,0)_100%)]"
>
    <svg
            class="w-full relative h-full dark:text-base-500 object-cover opacity-10 text-base-400/70"
            viewBox="0 0 1800 1000" aria-hidden="true" preserveAspectRatio="xMinYMin slice">
        <g fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
            <path d="M100 1000V0M200 0v1000M300 1000V0M400 0v1000M500 1000V0M600 0v1000M700 1000V0M800 0v1000M900 1000V0M1000 0v1000M1100 1000V0M1200 0v1000M1300 1000V0M1400 0v1000M1500 1000V0M1600 0v1000M1700 1000V0M2.009 899.491H1797.99M1797.991 799.637H2.01M2.009 699.782H1797.99M1797.991 599.927H2.01M2.009 500.073H1797.99M1797.991 400.218H2.01M2.009 300.363H1797.99M1797.991 200.509H2.01M1797.991 100H2.01"></path>
        </g>
    </svg>
</div>
