---
import { ASSET_PREFIX } from "@/config/constants";
import type { Adventaje } from "@/config/landing.interface";
import { marked } from 'marked';

interface Props {
  data: Adventaje;
  reversed: boolean;
}

const { data, reversed } = Astro.props;
---

<article
        class=`flex justify-between gap-x-32 flex-col mb-20 md:mb-40 ${ reversed ? "md:flex-row-reverse" : "md:flex-row" }`
        data-aos="fade-up"
>
    <div class="md:w-3/4 relative h-full rounded-2xl from-primary bg-gradient-to-b to-secondary after:absolute after:bg-base-100/30 after:inset-[1px] after:rounded-[calc(1rem-1px)] mb-8">
        <img src={ ASSET_PREFIX + data.img } alt={ data.imageAlt }
             class="w-full relative rounded-2xl border border-transparent object-cover p-0.5 z-10"/>
    </div>
    <div class="flex flex-col md:w-5/6 gap-y-8">
      { data.title && (<h3 class="text-xl md:text-4xl">{ data.title }</h3>) }
        <div set:html={ marked.parse(data.description) }></div>
    </div>
</article>
