---
import Action from "../components/Action.astro";
interface Props {
  title: string;
  subTitle: string;
}

const { title, subTitle } = Astro.props;
---

<section class="flex justify-center mt-48 mb-24">
    <div class="md:w-1/2" data-aos="fade-up">
        <h1
                class="text-4xl leading-tight text-center font-semibold md:text-5xl md:leading-tight uppercase"
        >
          { title }
        </h1>
        <h2 class="mt-10 text-lg text-center opacity-80 md:text-2xl">
          { subTitle }
        </h2>
    </div>
</section>
