---
import SectionTitle from "@/components/SectionTitle.astro";
import Video from "../components/Video.astro";
import type { VideoData } from "../config/landing.interface";

interface Props {
  data: VideoData;
}

const { data } = Astro.props;
---

<section class="flex flex-col mb-60 gap-y-14">
    <SectionTitle>
      { data.title }
    </SectionTitle>
    <Video title={ data.title } videoId={ data.videoId }/>
</section>